# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
# Unignore wiki
!docs/wiki
# Ignore all exe files
*.exe
# Ignore all ini files
*.ini
# Other temp files
*.frmbin
#Ignore macOS stuff
*.command
!setup_inform_osx.command
